button{
    border-radius: 12px;
}


@media screen and (max-width:576px){
    #section-one{
        width: 100%;
    }
    #container-one{
        flex-direction:column;
    }
    #text{
        margin-top: 50px;
    }
    #container-two{
        grid-template-columns: repeat(1, 1fr);
    }
    #six-cards{
        grid-template-columns: repeat(1, 1fr);
        margin: 40px auto;
    }
    #container-three{
        width: 100%;
        
    }
    #title{
        font-size: 25px;
    }
    #img{
        width: 40px;
    }
    .card{
        width: 100%;
    }
    #header{
        width: 100%;
        position: fixed;
        margin-top: 0px;
        z-index: 1;
    }
    body{
        margin-top: 0px;
    }
    #main{
        width: 100%;
    }
    #ck{
        gap: 10px;
    }
    .btn{
        margin-top: 12px;
    }
}